@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Play', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.ql-toolbar  {
  border-radius: 5px 5px 0 0 !important;
}

.ql-blank {
  min-height: 100px;
}

.ql-container {
  border-radius: 0 0 5px 5px !important;
}

.ql-snow {
  border-color: rgb(192, 192, 192) !important;
}

th, td {
  padding: 2px 0 !important
}

.MuiTableCell-head {
  padding-right: 15px !important;
  padding-bottom: 15px !important;
}

.posts-pagination {
  display: flex !important;
  flex-direction: row-reverse !important;
}


.empty-rows td {
  border-bottom: none !important;
}

.add_button {
  margin-right: auto !important;
  text-align: left !important;
}

.MuiDropzoneArea-root {
  border: 1px solid rgb(190, 190, 190) !important;
  border-radius: 5px !important;
}